<%= form_for(@entity_token) do |f| %>
  <% if @entity_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity_token.errors.count, "error") %> prohibited this entity_token from being saved:</h2>
      <ul>
        <% @entity_token.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :entity_id, value: @entity_token.entity.id %>
  <div class="field form-group">
    <%= f.label :key_id %>
    <%= f.collection_select :key_id, @user.keys, :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit "Create Entity Token", class: "btn btn-success" %>
  </div>
<% end %>
