<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "EIES" %></title>
    <script>
      // force https if running on heroku and accessed with http
      if (~document.location.search('http://eies.herokuapp.com'))
        document.location.href = document.location.href.replace('http://','https://');
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "EIES", "/home", class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if @user.try(:id) %>
            <li id="email" class="navbtn">
              <%= link_to @user do %>
                <%= @user.email %>&nbsp;
              <% end %>
              </li>
              <li class="divider"></li>
              <li class="navbtn"><%= link_to "Logout", "/login", method: :delete %></li>
          <% else %>
              <li class="navbtn"><%= link_to "Login", "/login" %></li>
              <li class="divider"></li>
              <li class="navbtn"><%= link_to "Register", :new_user %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <div id="content" class="content">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> fade-in">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer"></div>
</body>
</html>
