<!DOCTYPE html>
<html>
<head>
  <title>EIES</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "EIES", "/home", class: "navbar-brand" %>
        </div>
      </div>
    </nav>
  </div>
  <div id="content" class="content"><%= yield %></div>
  <div id="footer"></div>
</body>
</html>
